<!-- Shows Section -->
<section id="shows" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Shows</h2>
      <p>The Atlanta Improv Festival will be delivering a weekend packed with improv!</p>
      <%#<p class="text-center"><strong><i class="fa fa-ticket fa-2x"></i> <a class="fa-2x" href="http://danger-the-show.xorbia.com/">Tickets available now!</a> <i class="fa fa-ticket fa-2x"></i></strong></p>%>
    </div>
      <div class="schedule-column col-xs-12 col-sm-4 text-left">
        <h3>Thursday</h3>
        <%#<p><strong><a href="https://www.xorbia.com/e/?DNKFNKJNCNILNLFNCNGEE&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"><i class="fa fa-ticket"></i> Buy Tickets</a></strong></p>%>
        <p>
          <strong>8:00pm - 9:00pm</strong><br/>
          <%= link_to 'The Basement Theatre', '/shows/basement.html' %><br/>
          <%= link_to 'Highwire Comedy Company', '/shows/highwire.html' %><br/>
        </p>
        <p>
          <strong>9:00pm - 10:00pm</strong><br/>
          <%= link_to 'Laughing Matters', '/shows/laughing-matters.html' %><br/>
          <%= link_to 'Automatic Improv', '/shows/automatic-improv.html' %><br/>
        </p>
        <p>
          <strong>10:00pm - 11:00pm</strong><br/>
          <%= link_to 'Whole World Improv Theatre', '/shows/whole-world.html' %><br/>
          <%= link_to 'Danger! The Show', '/shows/danger.html' %><br/>
        </p>
        <p>
        <strong>11:00pm - 12:00am</strong><br/>
          <%= link_to 'All-Star Local Music Jam', '/shows/all-star-music-jam.html' %><br/>
          <%= link_to 'All-Star Local Jam', '/shows/all-star-jam.html' %><br/>
        </p>
      </div>
      <div class="schedule-column col-xs-12 col-sm-4 text-center">
        <h3>Friday</h3>
        <p>
          <strong>8:00pm - 9:00pm</strong><br/>
          TBA
        </p>
        <p>
          <strong>9:00pm - 10:00pm</strong><br/>
          TBA
        </p>
        <p>
          <strong>10:00pm - 11:00pm</strong><br/>
          <%= link_to 'Archibald, Hill & Howell', '/shows/archibald-hill-howell.html' %><br/>
        </p>
        <p>
        <strong>11:00pm - 12:00am</strong><br/>
          TBA
        </p>
      </div>
      <div class="schedule-column col-xs-12 col-sm-4 text-right">
        <h3>Saturday</h3>
        <p>
          <strong>8:00pm - 9:00pm</strong><br/>
          <%= link_to '3Peat', '/shows/3peat.html' %><br/>
        </p>
        <p>
          <strong>9:00pm - 10:00pm</strong><br/>
          TBA
        </p>
        <p>
          <strong>10:00pm - 11:00pm</strong><br/>
          <%= link_to 'Quartet', '/shows/quartet.html' %><br/>
        </p>
        <p>
        <strong>11:00pm - 12:00am</strong><br/>
          TBA
        </p>
      </div>
    </div>
  </div>
</section>
