<!-- Schedule Section -->
<section id="schedule" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Schedule</h2>
      <p>The Atlanta Improv Festival will be delivering a weekend packed with improv!</p>
      <p class="text-center"><strong><i class="fa fa-ticket fa-2x"></i> <a class="fa-2x" href="http://danger-the-show.xorbia.com/">Tickets available now!</a> <i class="fa fa-ticket fa-2x"></i></strong></p>
    </div>
      <div class="schedule-column col-xs-12 col-sm-4 text-left">
        <h3>Thursday</h3>
        <p><strong><a href="https://www.xorbia.com/e/?DNKFNKJNCNILNLFNCNGEE&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"><i class="fa fa-ticket"></i> Buy Tickets</a></strong></p>
        <p>
          <strong>8:00pm - 9:00pm</strong><br/>
          <%= link_to 'The Basement Theatre', '/shows/basement.html' %><br/>
          <%= link_to 'Automatic Improv', '/shows/automatic-improv.html' %><br/>
        </p>
        <p>
          <strong>9:00pm - 10:00pm</strong><br/>
          <%= link_to 'Laughing Matters', '/shows/laughing-matters.html' %><br/>
          <%= link_to 'Highwire Comedy Company', '/shows/highwire.html' %><br/>
        </p>
        <p>
          <strong>10:00pm - 11:00pm</strong><br/>
          <%= link_to 'Whole World Improv Theatre', '/shows/whole-world.html' %><br/>
          <%= link_to 'Danger! The Show', '/shows/danger.html' %><br/>
        </p>
        <p>
        <strong>11:00pm - 12:00am</strong><br/>
          <%= link_to 'All-Star Jam', '/shows/all-star-jam.html' %><br/>
        </p>
      </div>
      <div class="schedule-column col-xs-12 col-sm-4 text-center">
        <h3>Friday</h3>
        <p><strong><a href="https://www.xorbia.com/e/?DNKFNKJNCNIKNKDNDFNGEE&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"><i class="fa fa-ticket"></i> Buy Tickets</a></strong></p>
        <p>
          <strong>8:00pm - 9:00pm</strong><br/>
          <%= link_to 'Equanimity', '/shows/equanimity.html' %><br/>
          <%= link_to 'LochNessFoot', '/shows/lochnessfoot.html' %><br/>
        </p>
        <p>
          <strong>9:00pm - 10:00pm</strong><br/>
          <%= link_to 'Dad\'s Garage', '/shows/dads-garage-friday.html' %><br/>
          <br/>
        </p>
        <p>
        <strong>10:00pm - 11:00pm</strong><br/>
          <%= link_to '3033', '/shows/3033.html' %><br/>
          <br/>
        </p>
        <p>
          <strong>11:00pm - 12:00am</strong><br/>
          <%= link_to 'All-Star Armando Show', '/shows/all-star-armando.html' %><br/>
        </p>
      </div>
      <div class="schedule-column col-xs-12 col-sm-4 text-right">
        <h3>Saturday</h3>
        <p><strong><a href="https://www.xorbia.com/e/?DNKFNKJNCNIKNKCNHNGDF&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"><i class="fa fa-ticket"></i> Buy Tickets</a></strong></p>
        <p>
          <strong>7:00pm - 8:00pm</strong><br/>
          <%= link_to 'Florida Studio Theatre', '/shows/florida-studio-theatre.html' %><br/>
          <%= link_to 'Consolation Fries', '/shows/consolation-fries.html' %><br/>
        </p>
        <p>
          <strong>8:00pm - 9:00pm</strong><br/>
          <%= link_to 'Clutch', '/shows/clutch.html' %><br/>
          <%= link_to 'Captain\'s Log', '/shows/captains-log.html' %><br/>
        </p>
        <p>
          <strong>9:00pm - 10:00pm</strong><br/>
          <%= link_to 'Village Theatre', '/shows/village-theatre.html' %><br/>
          <%= link_to 'Dad\'s Garage: Dark Side of the Room', '/shows/dads-garage-saturday.html' %><br/>
        </p>
        <p>
          <strong>10:00pm - 11:00pm</strong><br/>
          <%= link_to 'Hill Jones', '/shows/hill-jones.html' %>
        </p>
        <p>
          <strong>11:00pm - 12:00am</strong><br/>
          <%= link_to 'All-Star Improv Asshole', '/shows/improv-a-hole.html' %><br/>
        </p>
      </div>
    </div>
  </div>
</section>
