<!-- Schedule Section -->
<section id="schedule" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Schedule</h2>
      <p>The Atlanta Improv Festival will be delivering a weekend packed with improv. Show schedule to be announced soon!</p>
    </div>
      <div class="schedule-column col-xs-12 col-sm-4 text-left">
        <h3>Thursday</h3>
        <p><strong><a href="#">All Night - $25</a></strong></p>
        <p>
          <strong>8:00pm - 9:00pm</strong><br/>
          <%= link_to 'The Basement Theatre', '/shows/basement.html' %><br/>
          <%= link_to 'Automatic Improv', '/shows/basement' %><br/>
        </p>
        <p>
          <strong>9:00pm - 10:00pm</strong><br/>
          <%= link_to 'Laughing Matters', '/shows/basement' %><br/>
          <%= link_to 'Highwire Theatre', '/shows/basement' %><br/>
        </p>
        <p>
          <strong>10:00pm - 11:00pm</strong><br/>
          <%= link_to 'Whole World Improv Theatre', '/shows/basement' %><br/>
          <%= link_to 'Danger! The Show', '/shows/basement' %><br/>
        </p>
        <p>
          <strong>11:00pm - 12:00am</strong><br/>
          <%= link_to 'Open JAM', '/shows/basement' %><br/>
        </p>
      </div>
      <div class="schedule-column col-xs-12 col-sm-4 text-center">
        <h3>Friday</h3>
        <p><strong><a href="#">All Night - $25</a></strong></p>
        <p>
          <strong>8:00pm - 9:00pm</strong><br/>
          <%= link_to 'EQUANIMITY', '/shows/basement' %><br/>
          <%= link_to 'LochNessFoot', '/shows/lochnessfoot.html' %><br/>
        </p>
        <p>
          <strong>9:00pm - 10:00pm</strong><br/>
          <%= link_to 'Dad\'s Garage', '/shows/basement' %><br/>
          <br/>
        </p>
        <p>
        <strong>10:00pm - 11:00pm</strong><br/>
          TBD<br/>
          <br/>
        </p>
        <p>
          <strong>11:00pm - 12:00am</strong><br/>
          TBD
        </p>
      </div>
      <div class="schedule-column col-xs-12 col-sm-4 text-right">
        <h3>Saturday</h3>
        <p><strong><a href="#">All Night - $25</a></strong></p>
        <p>
          <strong>7:00pm - 8:00pm</strong><br/>
          <%= link_to 'Florida Studio Theatre', '/shows/basement' %><br/>
          <%= link_to 'Consolation Fries', '/shows/lochnessfoot' %><br/>
        </p>
        <p>
          <strong>8:00pm - 9:00pm</strong><br/>
          <%= link_to 'Clutch', '/shows/basement' %><br/>
          <%= link_to 'Captain\'s Log', '/shows/lochnessfoot' %><br/>
        </p>
        <p>
          <strong>9:00pm - 10:00pm</strong><br/>
          <%= link_to 'Village Theatre', '/shows/basement' %><br/>
          <%= link_to 'Dad\'s Garage', '/shows/basement' %><br/>
        </p>
        <p>
          <strong>10:00pm - 11:00pm</strong><br/>
          <%= link_to 'Hill / Jones', '/shows/basement' %><br/>
          <br/>
        </p>
        <p>
          <strong>11:00pm - 12:00am</strong><br/>
          <%= link_to 'All-Star Improv Asshole!', '/shows/basement' %><br/>
        </p>
      </div>
    </div>
  </div>
</section>
