<!-- Shows Section -->
<section id="shows" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Shows</h2>
      <p>The Atlanta Improv Festival will be delivering a weekend packed with improv! <%#= link_to "Tickets available now!", "/tickets/index.html" %></p>

      <% data.schedule.each do |day| %>
        <div class="row">
          <h3 class="text-center"><%= day[0] %></h3>

          <% day[1].each_with_index do |stage, index| %>
            <div class="col-xs-6 <% if(index == 0)%>text-right main-stage-col<% end %>">
              <h4><%= stage["stage"] %></h4>
              <% stage["slots"].each do |slot| %>
                <p><strong><% if slot['time'].start_with? "0" %><%= slot['time'].slice(1, 6) %><% else %><%= slot["time"] %><% end %></strong></p>
                <% slot["shows"].each do |show| %>
                  <p><a href="/shows/<%= show %>"><%= data.shows[show].title %></a></p>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section id="shows-linear" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <% data.schedule.map{|x| x[1].map{|y| y['slots']}}.flatten.sort_by{|x| x['time']}.group_by{|x| x['time']}.each do |show| %>
        <%= show %><br/>
      <% end %>

    </div>
  </div>
</section>
