<!-- Shows Section -->
<section id="shows" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Shows</h2>
      <p>The Atlanta Improv Festival will be delivering a weekend packed with improv! <%= link_to "Tickets available now!", "/tickets/index.html" %></p>
      <div class="row">
        <h3 class="text-center">Thursday</h3>
        <div class="col-xs-6 text-right main-stage-col">
          <h4>Main Stage</h4>

          <p><strong>8:00pm</strong></p>
          <p><%= link_to 'Automatic Improv', '/shows/automatic-improv.html' %></p>
          <p><%= link_to 'Botox or Bangs', '/shows/botox-or-bangs.html' %></p>

          <p><strong>9:00pm</strong></p>
          <p><%= link_to 'Laughing Matters', '/shows/laughing-matters.html' %></p>
          <p><%= link_to 'Whole World Improv Theatre', '/shows/whole-world.html' %></p>

          <p><strong>10:00pm</strong></p>
          <p><%= link_to "Dad's Garage", '/shows/dads-garage.html' %></p>
          <p><%= link_to 'Danger! The Show', '/shows/danger.html' %></p>

          <p><strong>11:00pm</strong></p>
          <p><%= link_to 'All-Star Local Jam!', '/shows/all-star-jam.html' %></p>

        </div>
        <div class="col-xs-6">
          <h4>Stage 2</h4>

          <p><strong>7:30pm</strong></p>
          <p><%= link_to 'Chalk Outline', '/shows/chalk-outline.html' %></p>

          <p><strong>8:30pm</strong></p> <p><%= link_to 'BATTLE: Shakespeare Unscripted / The Bouncers / Group Therapy', '/battle/#2017-05-11' %></p>

          <p><strong>9:40pm</strong></p>
          <p><%= link_to 'BATTLE: ImprovGod.exe / The Tipsy Zone / Dark Side of the Room', '/battle/#2017-05-11' %></p>

          <p><strong>10:50pm</strong></p>
          <p><%= link_to 'BATTLE: Pretty Much Sisters / Blondies / Freddy, Sara and Andrew Have a Dance Party', '/battle/#2017-05-11' %></p>

        </div>
      </div> <!-- end thursday -->


      <div class="row">
        <h3 class="text-center">Friday</h3>
        <div class="col-xs-6 text-right main-stage-col">
          <h4>Main Stage</h4>
          <p><strong>8:00pm</strong></p>
          <p><%= link_to 'Highwire Comedy Company', '/shows/highwire.html' %></p>
          <p><%= link_to 'Village Theatre', '/shows/village-theatre.html' %></p>

          <p><strong>9:00pm</strong></p>
          <p><%= link_to 'Amanda & Emily', '/shows/amanda-emily.html' %></p>
          <p><%= link_to 'Super Human', '/shows/super-human.html' %></p>

          <div class="highlight">
            <p><strong>10:00pm</strong></p>
            <p><%= link_to 'Messing with a Friend - Susan Messing', '/shows/messing-with-a-friend.html' %></p>
          </div>

          <p><strong>11:00pm</strong></p>
          <p><%= link_to 'The Sweet Potatoes', '/shows/sweet-potatoes.html' %></p>
          <p><%= link_to 'Listen Stupid', '/shows/listen-stupid.html' %></p>

          <p><strong>12:00am</strong></p>
          <p class="highlight"><%= link_to 'All-Star Armando with Ryan Cameron', '/shows/armando-ryan-cameron.html' %></p>
        </div>

        <div class="col-xs-6">
          <h4>Stage 2</h4>
          <p><strong>7:30pm</strong></p>
          <p><%= link_to 'Faces', '/shows/faces.html' %></p>
          <p><%= link_to 'Full Disclosure', '/shows/full-disclosure.html' %></p>

          <p><strong>8:30pm</strong></p>
          <p><%= link_to 'Rufio', '/shows/rufio.html' %></p>
          <p><%= link_to 'Thunderbox', '/shows/thunderbox.html' %></p>

          <p><strong>9:30pm</strong></p>
          <p><%= link_to 'BATTLE: The Bouncers / Pretty Much Sisters / Shakespeare Unscripted', '/battle/#2017-05-12' %></p>

          <p><strong>10:40pm</strong></p>
          <p><%= link_to 'Cash & Carry', '/shows/cash-carry.html' %></p>

          <p><strong>11:40pm</strong></p>
          <p><%= link_to "Kaiser Permanente's Crazy Mix Up", '/shows/crazy-mix-up.html' %></p>
          <p><%= link_to 'ASPN Finals Preview: Live!', '/shows/aspn.html' %></p>

        </div>
      </div> <!-- end friday -->

      <div class="row">
        <h3 class="text-center">Saturday</h3>
        <div class="col-xs-6 text-right main-stage-col saturday">
          <h4>Main Stage</h4>
          <p><strong>6:00pm</strong></p>
          <p><%= link_to "Let's Try This", '/shows/lets-try-this.html' %></p>
          <p><%= link_to 'Karwisch and Ruf', '/shows/karwisch-ruf.html' %></p>

          <p><strong>7:00pm</strong></p>
          <p><%= link_to 'Cash & Carry', '/shows/cash-carry.html' %></p>
          <p><%= link_to 'Thunderbox', '/shows/thunderbox.html' %></p>

          <p><strong>8:00pm</strong></p>
          <p class="highlight"><%= link_to 'People of Earth', '/shows/people-of-earth.html' %></p>

          <p><strong>9:00pm</strong></p>
          <p><%= link_to 'Village Theatre Alumni', '/shows/village-theatre.html' %></p>
          <p><%= link_to 'Super Human', '/shows/super-human.html' %></p>

          <div class="highlight">
            <p><strong>10:00pm</strong></p>
            <p><%= link_to 'Hill Jones', '/shows/hill-jones.html' %></p>
          </div>

          <p><strong>11:00pm</strong></p>
          <p class="highlight"><%= link_to 'BATTLE FINAL: The Tipsy Zone / Pretty Much Sisters / Shakespeare Unscripted', '/battle/#2017-05-13' %></p>

          <p><strong>12:00am</strong></p>
          <p><%= link_to 'Amanda & Emily', '/shows/amanda-emily.html' %></p>
          <p><%= link_to 'Physically Bold', '/shows/physically-bold.html' %></p>
        </div>

        <div class="col-xs-6">
          <h4>Stage 2</h4>
          <p><strong>5:30pm</strong></p>
          <p><%= link_to 'Town Hall - Teaching Talk', '/shows/town-hall.html' %></p>

          <p><strong>6:30pm</strong></p>
          <p><%= link_to 'Red Pill Players', '/shows/red-pill-players.html' %></p>
          <p><%= link_to 'Faces', '/shows/faces.html' %></p>

          <p><strong>7:30pm</strong></p>
          <p><%= link_to 'Listen Stupid', '/shows/listen-stupid.html' %></p>
          <p><%= link_to 'The Sweet Potatoes', '/shows/sweet-potatoes.html' %></p>

          <p><strong>8:30pm</strong></p>
          <p><%= link_to 'Physically Bold', '/shows/physically-bold.html' %></p>
          <p><%= link_to 'Action Show', '/shows/action-show.html' %></p>

          <p><strong>9:30pm</strong></p>
          <p><%= link_to 'Full Disclosure', '/shows/full-disclosure.html' %></p>
          <p><%= link_to 'Low Rider', '/shows/low-rider.html' %></p>

          <p><strong>10:30pm</strong></p>
          <p><%= link_to "Kaiser Permanente's Crazy Mix Up", '/shows/crazy-mix-up.html' %></p>

          <p><strong>11:30pm</strong></p>
          <p><%= link_to "Kaiser Permanente's Crazy Mix Up", '/shows/crazy-mix-up.html' %></p>

          <p><strong>12:30pm</strong></p>
          <p><%= link_to "Kaiser Permanente's Crazy Mix Up", '/shows/crazy-mix-up.html' %></p>
        </div>
      </div> <!-- end Saturday -->
    </div>
  </div>
</section>
