---
layout: "layout"
---
<section id="show" class="container content-section">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h1><%= show.title %></h1>
      <% if show.image && show.image != "" %>
        <div class="pull-right col-xs-12 col-sm-6"><img class="img-responsive" src="/images/shows/<%=show.image %>" title="<%= show.title %>" alt="<%= show.title %>"/></div>
      <% end %>
      <% if show.location %>
        <h4><%= show.location %></h4>
      <% end %>
      <p>
      <em><%= show.time %></em><br/>
      <% if show.day %>
        <%= partial "tickets/#{show.day}" %>
      <% end %>
      <% if show.days %>
        <% show.days.each do |day| %>
          <%= partial "tickets/#{day}" %>
        <% end %>
      <% end %>
      </p>
      <%= show.bio %>
      <p>
      <% if show.url %>
        <a href="<%=show.url%>" title="<%=show.title%>" target="_blank"><i class="fa fa-globe"></i> <%=show.title%></a><br/>
      <% end %>
      <% if show.facebook %>
        <a href="<%=show.facebook%>" title="<%=show.title%>" target="_blank"><i class="fa fa-facebook-official"></i> Facebook</a><br/>
      <% end %>
      <% if show.twitter %>
        <a href="https://twitter.com/<%=show.twitter%>" title="<%=show.twitter%>" target="_blank"><i class="fa fa-twitter"></i> Twitter</a><br/>
      <% end %>
      <% if show.instagram %>
        <a href="<%=show.instagram%>" title="<%=show.instagram%>" target="_blank"><i class="fa fa-instagram"></i> Instagram</a><br/>
      <% end %>
      <% if show.youtube %>
        <a href="<%=show.youtube%>" title="<%=show.youtube%>" target="_blank"><i class="fa fa-youtube"></i> YouTube</a><br/>
      <% end %>
      </p>
    </div>
    <div class="col-lg-10 col-lg-offset-1">
      <% if show.bios %>
        <% show.bios.each do |bio| %>
          <%= partial "bios/#{bio}" %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
