<!DOCTYPE html>
<html lang="en">
<%= partial "partials/head" %>
<body data-target=".navbar-fixed-top">
  <div id="main">
    <%= partial "partials/nav" %>
    <section id="workshop" class="container content-section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h1><%= current_page.data.title %></h1>
              <h3>with <%= current_page.data.teacher %></h3>
              <p><em><%= current_page.data.time %></em></p>
              <% if current_page.data.image %>
                <div class="pull-right col-xs-12 col-sm-6"><img class="img-responsive" src="/images/workshops/<%=current_page.data.image %>" title="<%= current_page.data.title %>" alt="<%= current_page.data.title %>"/></div>
              <% end %>
              <%= current_page.data.description %>
              <%= current_page.data.bio %>
            </div>
        </div>
    </section>
    <%= yield %>
    <%= partial "partials/footer" %>
  </div>
    <%= partial "partials/bottom_js" %>
  </body>
</html>
