<h4>
  <% if defined?(date_inline) && date_inline == true %>
    <%= Date.parse(date).strftime('%A, %B %e') %>
  <% end %>
</h4>

<% matches.each do |match| %>
  <p><%= match.time %> @ <%= match.location %></p>
  <p>
  <% if match.complete %>
    <% match.results.each_with_index do |team, idx| %>
      <% if idx == 0 %>
        <strong>Winner:</strong>
      <% elsif idx == 1 %>
        <em>Runner Up:</em>
      <% end %>
      <a href="/battle/teams/<%= team.first[0] %>/"><%= data.battle.teams["#{team.first[0]}"].name %></a> - <%= team.first[1] %> pts.

      <br/>
    <% end %>

    <br />
  <% else %>
    <% if match.teams %>
      <% match.teams.each do |team_id| %>
        <a href="/battle/teams/<%= team_id %>/"><%= data.battle.teams["#{team_id}"].name %></a> <%= "vs." if team_id != match.teams.last %>
      <% end %>
      <% if match.additional_teams %>
        <% match.additional_teams.each do |team| %>
          vs. <%= team %>
        <% end %>
      <% end %>
      <br/>
    <% end %>
    <% if match.tba %>
      <em>TBA</em><br/>
    <% end %>
    <% if match.tix && !match.complete %>
      <br />
      <a class="btn btn-default btn-lg" href=<%= match.tix %>><i class="fa fa-id-badge fa"></i>  Buy Tickets Now!</a>
    <% end %>
    <% if match.facebook %><br/><a href="<%= match.facebook %>"><i class="fa fa-facebook-official" aria-hidden="true"></i> Event </a><% end %>
  <% end %>
  </p>
<% end %>
<hr />
<br />
