<!-- workshops Section -->
<section id="workshops" class="content-section">
  <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Workshops</h2>
        <p>The Atlanta Improv Festival weekend isn’t just for watching improv til your eyes melt, but for all improvisers to tone those improv muscles by participating in workshops. We lined up a bunch of useful and fun workshops for the weekend taught by amazing improvisers from all over the country!</p>

        <h3 class="text-center">Saturday 10:30am</h3>
        <div class="row">
          <p class="col-md-4"><%= link_to "Teach Them How to See You", "/workshops/sue-gillan.html" %><br/><em>with</em> Sue Gillan</p>
          <p class="col-md-4"><span style="text-decoration:line-through"><%= link_to "Get Engaged", "/workshops/jean-villepique.html" %></span> - SOLD OUT<br/><em>with</em> Jean Villepique</p>
          <p class="col-md-4"><%= link_to "Playing Fast and Fun", "/workshops/patrick-rowland.html" %><br/><em>with</em> Patrick Rowland</p>
        </div>

        <h3 class="text-center">Saturday 1:00pm</h3>
        <div class="row">
          <p class="col-md-4"><%= link_to "Information Sharing and Scene Construction", "/workshops/ryan-archibald.html" %><br/><em>with</em> Ryan Archibald</p>
          <p class="col-md-4"><%= link_to "Dynamic Scene Starts", "/workshops/dave-hill-1pm.html" %><br/><em>with</em> Dave Hill</p>
          <p class="col-md-4"><%= link_to "Find Your Character", "/workshops/john-thibodeaux.html" %><br/><em>with</em> John Thibodeaux</p>
        </div>

        <h3 class="text-center">Saturday 3:30pm</h3>
        <div class="row">
          <p class="col-md-6"><span style="text-decoration:line-through"><%= link_to "The Pen is Mightier than the Sword (and the laptop too)", "/workshops/tami-sagher.html" %></span> - SOLD OUT<br/><em>with</em> Tami Sagher</p>
          <p class="col-md-6"><%= link_to "Harold 101", "/workshops/dave-hill-330pm.html" %><br/><em>with</em> Dave Hill</p>
        </div>
    </div>
  </div>
</section>
