<!-- workshops Section -->
<section id="workshops" class="content-section">
  <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Workshops</h2>
        <p>The Atlanta Improv Festival weekend isn’t just for watching improv til your eyes melt, but for all improvisers to tone those improv muscles by participating in workshops. We lined up a bunch of useful and fun workshops for the weekend taught by amazing improvisers from all over the country!</p>
        <p> 1 Workshop: $75 / 2 Workshops: $100: <strong><a href="https://docs.google.com/forms/d/1gNA29na3lmHXONToXxXy_3xj_UYmGG6IPJoJEcAeTrw/viewform?embedded=true" target="_blank">Register Now!</a></strong></p>
        <h3>Saturday</h3>
        <div class="col-xs-6">
          <p>
            <strong>10:30am - 12:30pm</strong><br/>
            <%= link_to 'Listening', '/workshops/listening.html' %>
          </p>
          <p>
            <strong>1:00pm - 3:00pm</strong><br/>
            <%= link_to 'The Roots', '/workshops/roots.html' %>
          </p>
          <p>
            <strong>3:30pm - 5:30pm</strong><br/>
            <%= link_to 'Flash Form', '/workshops/flashform.html' %>
          </p>
        </div>
        <div class="col-xs-6">
          <p>
            <strong>11:00am - 1:00pm</strong><br/>
            <del><%= link_to 'Information Sharing and Scene Construction', '/workshops/information-sharing.html' %></del> - SOLD OUT
          </p>
          <p>
            <strong>1:30pm - 3:30pm</strong><br/>
            <%= link_to 'Getting into Characters', '/workshops/getting-into-characters.html' %>
          </p>
          <p>
            <strong>4:00pm - 6:00pm</strong><br/>
            <%= link_to 'Free Form Improvisation', '/workshops/freeform.html' %>
          </p>

        </div>
        <!--div class="col-xs-12 col-sm-6">
          <h3>Sunday</h3>
          <p>
            <strong>12:00pm - 2:00pm</strong><br/>
            <%= link_to 'Driver\'s Seat', '/workshops/drivers-seat.html' %>
          </p>
          </div-->
    </div>
  </div>
</section>
