---
layout: "home"
---
<section class="intro" class="container content-section">
  <h1>2018 Atlanta Improv Festival</h1>
</section>
<section id="temp-home" class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2>2019 <span class="blue">Atlanta</span> Improv Festival</h2>
      <h1>April 25-27, 2019</h1>
    </div>
  </div>
</section>
<%= partial "shows/schedule" %>
<%= partial "beerbus/description" %>
<section id="tix" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <%= partial "tickets/tix" %>
      <%#<p style="font-size: 100%"><a href="tickets/index.html">Ticket descriptions and details</a></p>%>
    </div>
  </div>
</section>
<%= partial "workshops/schedule" %>
<%= partial "battle/description" %>
<%= partial "faqs/faqs" %>
<%= partial "location/location" %>
<%= partial "sponsors/sponsors" %>
