---
layout: "home"
---
<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1><img src="img/logo.png" alt="Atlanta Improv Festival 2017" class="logo img-response"/></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>
            #<span class="red">ATL</span>IF2017
            <a href="https://www.facebook.com/ATLImprovFest"><i class="fa fa-facebook-official"></i></a>
            <a href="https://twitter.com/ATLImprovFest"><i class="fa fa-twitter-square"></i></a>
            <a href="https://www.instagram.com/atlimprovfest/"><i class="fa fa-instagram"></i></a>
            <a href="mailto:questions@atlantaimprovfestival.com"><i class="fa fa-envelope"></i></a>
          </h3>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3 style="font-size: 30px;"><a href="http://www.theimprovnetwork.org/festival-event-profile/?eventkey=413">Festival Submissions <i class="fa fa-arrow-circle-right"></i></a></h3>
            <h3 style="font-size: 30px;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdyNem3lRNqUL3WwnPt7fwrgyTGwVFkjFV8ILXoXEQ9hURzFA/viewform?embedded=true">Battle Registration <i class="fa fa-arrow-circle-right"></i></a></h3>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdyNem3lRNqUL3WwnPt7fwrgyTGwVFkjFV8ILXoXEQ9hURzFA/viewform?embedded=true"><img src="img/battle-logo.png"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<%= partial "about/about" %>
<%#<%= partial "shows/schedule" %>
<%#<%= partial "workshops/schedule" %>
<%#<%= partial "cagematch/cagematch" %>
<%#<%= partial "tickets/tix" %>
<%#<%= partial "faqs/faqs" %>
<%#<%= partial "location/location" %>
<%#<%= partial "sponsors/sponsors" %>
